body {
}

/* HOME PAGE */
form {
    width: 180px;
    margin: 100px auto;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

form h1, form p {
    text-align: center;
}

form p {
    width: 200px;
    margin: 20px auto;
}

label {
    display: block;
}

.radio-choice {
    width: 200px;
    margin: 20px auto;
    margin-left: 20px;  
}

input[type='submit'] {
    display: block;
    margin: 0 auto;
}

/* PRINT PAGE*/
.btn-container {
    width: 220px;
    margin: 0 auto;
}

button {
    display: inline;
}

.print {
    margin: 20px 15px 20px 20px;
}

.home {
    margin: 20px 20px 20px 15px;
}

select {
    display: block;
    width: 220px;
    margin: 10px auto 30px auto;
    text-align: center;
}

canvas {
    outline: 1px solid black;
    display: block;
    margin: 0 auto 100px;
}

.birthdayp1, .birthdayp2 {
    -webkit-print-color-adjust: exact;
    -moz-print-color-adjust: exact;
    background-color: #FFFAC7;
}

@media print {
    button {
        display: none;
    }

    canvas {
        display: block;
    }

    select {
        display:none;
    }
}